.catering-dishes__details {
  height: 400px;
  opacity: 1;
  // animation-delay: 1000ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  z-index: 90;
}

.catering-dishes__details__content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 5px;
}

.catering-dishes__name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  h1 {
    text-transform: capitalize;
    font-size: 35px;
    color: #fff;
  }
}

.catering-dishes__info {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/// MEDIA ///

@media screen and (max-width: 1050px) {
  .catering-dishes__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
