@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap");

@import "./sass/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
}

html,
body,
#root,
main {
  height: 100%;
  width: 100%;
}

input,
textarea,
span,
p,
a,
h1,
h2,
h3,
h4,
li {
  // font-family: "Lato", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

input,
textarea {
  font-size: 15px;
  appearance: "none";
  -webkit-appearance: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10001;
}

.grecaptcha-badge {
  z-index: 10000;
  bottom: 0 !important;
}
