.quantity {
  height: 40px;
  display: flex;
  align-items: center;
  h3 {
    margin-right: 10px;
  }
}

.quantity__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
