.cart {
  padding: 5px 0;
  box-sizing: border-box;
  &__empty {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
