.catering-ctg__add {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #595959;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  .input {
    padding-left: 0 !important;
    margin: 0 auto;
    width: 95%;
    input {
      padding-right: 30px;
      box-sizing: border-box;
    }
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.catering-ctg__add__btn {
  position: absolute;
  top: 29px;
  right: 5px;
}
