.catering-ctg__list {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 11;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    li {
      position: relative;
      height: 30px;
      list-style-type: none;
      cursor: pointer;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}

.catering-ctg__list__option {
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  span {
    text-transform: capitalize;
  }
}
