.date-time-picker__header {
  height: 70px;

  position: relative;
  h3 {
    color: #fff;
  }
}

.date-time-picker__month-list {
  position: absolute;
  right: calc(50% - 120px);
  top: 60px;
  background-color: #404040;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
  ul {
    padding: 0;
    li {
      height: 40px;
      width: 120px;
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      &:hover {
        background-color: #666;
      }
    }
  }
}

.date-time-picker__header__title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    margin-right: 10px;
  }
}

.date-time-picker__header__wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.date-time-picker__header__icon {
  cursor: pointer;
  margin-top: 5px;
}
