.cafe {
  display: flex;
  height: 100%;
  min-height: 500px;
  background-color: rgba($color: #333, $alpha: 0.8);
}

.cafe__intro {
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/images/cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cafe__details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cafe__title {
  padding-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.cafe__hours {
  padding-bottom: 10px;
}

.cafe__descr {
  width: 80%;
  padding: 0 10px;
  h3 {
    text-align: center;
    font-family: "Lato", sans-serif;
    line-height: 30px;
  }
}

.cafe__btn {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

// MEDIA //

@media screen and (max-width: 800px) {
  .cafe {
    justify-content: space-between;
    background-color: #333;
  }

  .cafe-intro {
    width: calc(50% - 1px);
  }

  .cafe-intro__label {
    display: none;
  }

  .cafe-intro__btn {
    display: flex;
  }

  .cafe-intro__body {
    background-color: rgba($color: #000, $alpha: 0.5) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}
